
.wise-pop{
    position: absolute;
    left: 35%;
    margin: 0 auto;
    width: 400px;
    background-color: #fff;
    padding: 10px;
    border:1px solid #dbdbdb;
 
}

.wise-pop{
     top: -500px; 
      animation:drop 3s ease forwards;  
   
}
    .wise-pop a{
        top:10px;
        right: 10px;
        position: absolute;
    }
.wise-pop-content .sub-title h2,h3{
    text-align: center;
}
.wise-pop-content .sub-title h2{
    color: #8c8c8c;
}
.wise-pop-content .sub-title h3{
    color: #16a791;
}
.image-wise-pop img{
    width: 100%;
    
}
.wise-pop-form{
    text-align: center;
    margin-bottom: 20px;
}
.wise-pop-form .txtem, .wise-pop-form .sm-signup{
        border:1px solid #939393;
}
.wise-pop-form .txtem{
    border-radius: 5px 0 0 5px;
    outline: none;
    padding: 5px;
    border-right: 0px;  
}
.wise-pop-form .sm-signup{
    margin-left: -5px;
    padding: 5px;
    outline:none;
    border-radius: 0 5px 5px 0;
    border-left: 0;
    background-color:#16a791;
    color:#fff;
}
.text-sub{
    margin-top: 20px;

}
.text-sub p{
    color: #696969;
    font-size: 16px;
}

@keyframes drop{
    from{
        transform:translateY(0);
    }
    to{
        transform:translateY(610px);
            position: fixed;
            z-index: 9999999;
            
            
    }
    
}